<!--The content below is only a placeholder and can be replaced.-->

<h2>Here are some API calls to help you start: </h2>

<table>
    <thead>
      <tr>
        <th class="table-cell-sm text-center">postid</th>
        <th class="table-cell-sm">id</th>
        <th class="table-cell-sm">Name</th>
        <th class="table-cell-sm">email</th>
        <th class="table-cell-xs">body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of listComments"
          class="vertical-align-middle">
          <td class="table-cell-xs text-center">
            {{comment.postid}}
          </td>
          <td class="table-cell-xs text-center">
            {{comment.id}}
          </td>
          <td class="table-cell-xs text-center">
            {{comment.name}}
          </td>
          <td class="table-cell-xs text-center">
            {{comment.email}}
          </td>
          <td class="table-cell-xs text-center">
            {{comment.body}}
          </td>
      </tr>
    </tbody>
  </table>


